################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/viswa2.txt.txt
/sample3.txt.txt
